.sidebar{
    height:50vh;
   
}
.sidebar-button{    
    width: 12px;
}
.open-panel {
    width: 100%;
    overflow:hidden;
    transition: 0.3s;
    /* margin-top: -75px */

}
.close-panel {
    width: 0px;
    min-width: 0px;
    overflow:unset;
    transition: 0.3s;

    /* margin-top: -75px */
}
.expand-panel{
    width: 99.5%;
    transition: 0.3s;
}
.collapse-panel{
    width: 82.5%;
    transition: 0.3s;
}
.page-section {
    border: solid 1px #ccc;
    padding: .25rem;
    background-color: #fff;
}

.refreshRotate {
    animation: rotate .4s;
}

.OpportunityRelatedCardText{
    font-size: 1rem;
}

li:hover {
    cursor: pointer;
    background-color: white;
}


.slds-split-view__toggle-button{
    right: 0.25px;

}
  
  .slds-input-has-icon_right .slds-input__icon {
    top: 30px !important; /* Adjust the top value as needed */
   
  }

  .opportunityText{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
    display: block;
    color: black;
    margin: 11px;
    /* margin-left: 10px; */
    margin-left: 23px;
  }

  .opportunityRecordIcon{
  
        background: slateblue;
        border-radius: 7px;

  }

  .responsive-scroll {
    overflow-y: auto;
    width: 100%;
    max-height: 150px;
  }


  .sidebar.slds-split-view_container.slds-is-open.open-panel {
    overflow: auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}